body {
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  position: absolute;
  left: 25%;
  text-align: center;
  border: 1px solid rgb(47, 49, 49);
  border-radius: 2px;
  background-color: rgb(180, 175, 175);
  width: 50%;
}

h1 {
  width: 40%;
  height: 7%;
  margin-left: 30%;
  box-shadow: 0 1px 2px rgba(112, 111, 111, 0.5);
  background-color: rgb(229, 207, 207);
  font-style: italic;
  border-radius: 8px;
  color: rgb(110, 12, 12);
  text-shadow: 1px 2px rgba(80, 77, 77, 0.5);
}

#giphyInputId {
  box-shadow: 0 4px 4px rgba(129, 86, 86, 0.5);
  width: 20%;
  padding-bottom: 1%;
  padding-left: 1%;
  border-radius: 5px;
  border-color: azure;
  margin-bottom: 2%;
}
#giphySearchButton {
  box-shadow: 0 4px 4px rgba(129, 86, 86, 0.5);
  width: 8%;
  padding-bottom: 1%;
  border-radius: 8px;
  border-color: azure;
  background-color: rgb(231, 203, 203);
  color: rgb(110, 12, 12);
  margin-bottom: 2%;
}
#giphyNumberInputId {
  box-shadow: 0 4px 4px rgba(129, 86, 86, 0.5);
  width: 8%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  border-radius: 5px;
  border-color: azure;
  margin-bottom: 2%;
}
